# Server
NODE_ENV=development
PORT=5555
VITE_PORT=5173
APP_URL=http://localhost:5173

# Database
# DB_FILE is the path to SQLite file (relative to project root)
DB_FILE=database/dev.sqlite3

# Logging
# LOG_LEVEL options: trace, debug, info, warn, error, fatal
LOG_LEVEL=debug

