node_modules
# Keep environment variables out of version control
.env 
production.sqlite3
dev.sqlite3
public/uploads

# AI
.windsurf
.trae
.augment
.cursor   

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*